body {
    background-color: #f0f0f0;
    color: #333;
}

/* Estilo do container principal */
.container {
   max-width: 800px; 
   margin: 50px auto;
   padding: 20px;
   background-color: white;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   text-align: center;
}
/* Estilos da foto do perfil */
.profile-photo {
    width: 250px;
    border-radius: 10px;
    margin-bottom: 20px;    
}

/* Estilos do título */
h1 {
    font-size: 2em;
    margin-bottom: 5px;
    color: cornflowerblue;
}

/* Subtitulo */
.subtitle {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

/* Estilo da descrição */
.profile-description {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* Estilo dos interesses/hobbies */
.profile-hobbies h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: cornflowerblue;
}

.profile-hobbies ul {
    list-style-type: none; /*remove marcadores de lista */
    padding: 0;
}

.profile-hobbies li {
    font-size: 1.2em;
    padding: 8px 0;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #555;
}

/* Hover nos itens da lista */
.profile-hobbies li:hover {
    background-color: #bf6862;
    color: white;
}

